asgiref==3.8.1
astroid==3.3.8
autopep8==2.3.2
certifi==2025.1.31
charset-normalizer==3.4.1
cloudinary>=1.0.0
dill==0.3.9
dj-database-url>=2.0.0
Django>=5.1,<5.2
django-cloudinary-storage>=0.3.0
django-cors-headers>=4.0.0
djangorestframework>=3.15.0
Faker==36.2.2
gunicorn>=21.0.0
idna==3.10
isort==6.0.1
mccabe==0.7.0
packaging==24.2
Pillow>=10.0.0
platformdirs==4.3.6
psycopg2-binary>=2.9.0
pycodestyle==2.12.1
pylint==3.3.4
python-dotenv>=1.0.0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
whitenoise>=6.0.0
